:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}
.form{
    /* color: #FFF;
	background-color: var(--dark); */
}
.new-task-input{
    flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}
#new-task-submit {
    border: none;
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}
.todo-list{
    display: flex;
    gap: 0px;
}
.all-todo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.list{
    /* display: flex; */
    /* flex-direction: row; */
    width: 100%;
    flex-wrap: wrap;
    gap: 0px;
    color: black;
    /* justify-content: space-around; */
    /* border: 2px solid orchid; */
    margin-top: 30px;
    
    /* margin-left: 30%; */
    /* top: 0; */
    /* margin: 100px; */
}
.cardbody{
    border: 2px solid orchid;
}
.form{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
  width: 28%;
  margin-left: 1vw;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid blueviolet;
}
.notodos{
    text-align: center;
}
.clearbut{
    /* margin-left: 47vw; */
    width: 180px;
    font-weight: bold;
    padding: 10px;
    background-color: orchid;
}
.toggle{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
